<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
   
      <class name="FirstProject.validateRediffFeaturesTest"/>
        </classes>
        </test>
        <test name="validating_home_page">
        <classes>
        <class name="FirstProject.HomePageTest"/>
        </classes>
        </test>
        <test name="checking_for_navigation_bar">
      <classes>
        
      <class name="FirstProject.navigationBarTest"/>
   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
